* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 22px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: 600;
}

/* The logo stretches on Safari so I set the max-width to fix that */
.logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-img {
  max-width: 400px;
  align-self: center;
  margin: 26px 0 32px;
}

.hero-header {
  font-size: 36px;
  line-height: 110%;
  margin: 0 36px;
}

.hero-text {
  color: #222222;
  line-height: 110%;
  margin: 16px 36px 50px;
  max-width: 320px;
}

.card {
  width: 176px;
  font-size: 12px;
  margin: 0 36px;
}

.card-img {
  width: 100%;
  margin-bottom: 9px;
}

.card-stats > span {
  padding-right: 2px;
}

.card-star {
  height: 14px;
  padding-right: 2px;
}

.card p {
  margin: 0;
  padding: 4px;
}
